.footer{
    color: white;
    background-color:  #ff9d00;
    position: relative;
    bottom:0;
    width: 100%;
    font-size: 12px;
}

.colAno{
    text-align: center;
}

.linha{
    text-align: center;
}
a:link, a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}