.footer{
    color: white;
    background-color:  #ff9d00;
    font-size: 12px;
}

.colAno{
    text-align: center;
}

.linha{
    text-align: center;
}

.listaNomes a:link, .listaNomes a:visited{
    text-decoration: none;
    color: white;
}

.listaNomes a:hover{
    color: black;
}